body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-lemonchiffon: #fffdd0;
  --color-saddlebrown-100: #4d2600;

  /* Border radiuses */
  --br-xl: 20px;
}
