<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/adidas.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Add this to your <head> section -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js" type="text/js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
</head>

<body>
  <div class="adidas">
    <nav class="nav-bg navbar navbar-expand-lg navbar-dark fixed-top-nav custom-cream ">
      <div class="resize">
      <a class="navbar-brand" href="#"><img src="/images/logo-2-1@2x.png" alt=""></a>
    </div>
      <button class="navbar-toggler custom-brown" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" id="search_field" placeholder="Search" aria-label="Search">
          <!-- Removed "saveCart" from here -->
        </form>
        <button type="button" class="btn btn-success my-2 my-sm-0 custom-brown" data-toggle="modal"
          data-target="#staticBackdrop">
          <i class="fas fa-shopping-cart total-count"></i>
        </button>

        <ul class="navbar-nav mr-auto navbar-li">
          <!-- Add any navigation items here if needed -->
          <li class="active"><a href="dashboard">Home</a></li>
          <li class="active" id="buy"><a href="buy">Buy</a></li>
          <li><a href="index">Sell</a></li>
          <li> <a href="report">R & A</a></li>
          <li class="login"><a href="/logout">Logout</a></li>
           
        </ul>

      </div>
    </nav>
    <div class="back-btn">
    <a href="dashboard"><img class="material-symbolsarrow-back-icon" alt="" src="/images/materialsymbolsarrowback.svg"
    id="materialSymbolsarrowBack"  style="margin-top: -5rem;" /></a>

  <div class="back" style="margin-top: -5.2rem;">Back</div>
    </div>
    <div class="adi-logo">
    <img class="adidas-logo-1" alt="" src="/images/nike-logo-1@2x.png" style="margin-top: -2rem;" />
  </div>
    <section>
      <!-- column left -->
      <div class="col-left">
      <div class="frame-parent">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR FORCE 1 '07 WHITE.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
        <div class="product-brand">Nike</div>
        <div class="product-model-name">AIR FORCE 1 '07 WHITE</div>
        <div class="div">₹ 09,695.00</div>
      </div>
      <div class="frame-group">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR MAX 1 PHOTON GREY AQUA.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">  AIR MAX 1 PHOTON GREY AQUA</div>
        <div class="div">₹ 13,995.00</div>
      </div>
      <div class="frame-container">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR MAX 90 FUTURA FUCHSIA DREAM.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">AIR MAX 90 FUTURA FUCHSIA DREAM</div>
        <div class="div">₹ 13,995</div>
      </div>
      <div class="frame-parent1">
        <div class="frame-child"><img src="/images/imagesSneaker/Nike AIR JORDAN 1 SUMMIT WHITE.jpeg"alt=""></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">AIR JORDAN 1 SUMMIT WHITE</div>
        <div class="div">₹ 13,295</div>
      </div>
      <div class="frame-parent2">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR JORDAN 1 RETRO HIGH VARSITY MAIZE.jpeg" alt=""></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">AIR JORDAN 1 RETRO HIGH VARSITY MAIZE</div>
        <div class="div">₹ 16,995</div>
      </div>

    </div>

<!-- ************column right****************** -->
    <div class="col-right">
      <div class="frame-parent3">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR MAX 90 PALE IVORY.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">  AIR MAX 90 PALE IVORY</div>
        <div class="div">₹ 13,995</div>
      </div> 
      <div class="frame-parent4">
        <div class="frame-child"><img src=" /images/imagesSneaker/Nike AIR MAX 97 PURE PLATINUM VOLT.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name"> AIR MAX 97 PURE PLATINUM VOLT</div>
        <div class="div">₹ 16,995</div>
      </div>
      <div class="frame-parent5">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeAIR VAPORMAX BRONZINE.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name"> AIR VAPORMAX BRONZINE</div>
        <div class="div">₹ 19,295</div>
      </div>
      <div class="frame-parent6">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeDUNK HIGH PANDA.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name"> DUNK HIGH PANDA</div>
        <div class="div">₹ 09,295</div>
      </div>
      <div class="frame-parent7">
        <div class="frame-child"><img src="/images/imagesSneaker/NikeDUNK LOW RETRO PREMIUM OLIVE PHANTOM.jpeg"></div>
        <img class="frame-item" alt="" src="/images/group-1.svg" />
  
        <div class="product-brand">Nike</div>
        <div class="product-model-name">  DUNK LOW RETRO PREMIUM OLIVE PHANTOM</div>
        <div class="div">₹ 09,695</div>
      </div>
    </div>
    </section>



    
    <!-- <div class="info-contact-us-releases-store-parent">
      <div class="info-contact-us-container">
        <p class="info">INFO</p>
        <p class="info">&nbsp;</p>
        <p class="contact-us">Contact Us</p>
        <p class="contact-us">Releases</p>
        <p class="contact-us">Stores</p>
        <p class="contact-us">Brands</p>
        <p class="contact-us">Blogs</p>
      </div>
      <div class="policies-privacy-policy-container">
        <p class="info">POLICIES</p>
        <p class="info">&nbsp;</p>
        <p class="contact-us">Privacy Policy</p>
        <p class="contact-us">Returns & Exchange</p>
        <p class="contact-us">Terms & Conditions</p>
        <p class="contact-us">Order & Shipping</p>
        <p class="contact-us">Terms of Service</p>
        <p class="contact-us">Help Center</p>
      </div>
      <div class="our-socials">OUR SOCIALS</div>
      <div class="fab-icon">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      <div class="sneakup">© 2023, SNEAKUP</div>
    </div>
   
   
   
  </div> -->
  <footer class="footer-section" style="margin-top: 131rem;">
    <div class="container">
        <div class="footer-cta pt-5 ">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>MODERN COLLEGE GANESHKHIND, PUNE-16 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 7058054327</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>SneakUP@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-1">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/images/logo-2-1@2x.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Welcome to SneakUP, where passion for sneakers meets a commitment to providing the best shopping experience for sneaker enthusiasts worldwide.
                              At SneakUP, our journey began with a shared love for sneakers and a vision to create a platform that goes beyond commerce.
                               We understand that sneakers are not just footwear; they're expressions of style, identity, and culture.
                               That's why we've curated a collection that transcends trends and embraces the diversity of sneaker culture.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <ul class="social_icon">
                              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Selection Process</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Sponsorship</a></li>
                            <li><a href="#">Our Policies</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="#">SneakUP</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <script>
    var logo21 = document.getElementById("logo21");
    if (logo21) {
      logo21.addEventListener("click", function (e) {
        // Please sync "Landing Page" to the project
      });
    }

    var frame = document.getElementById("frame");
    if (frame) {
      frame.addEventListener("click", function (e) {
        // Please sync "Login Page" to the project
      });
    }

    var frameContainer1 = document.getElementById("frameContainer1");
    if (frameContainer1) {
      frameContainer1.addEventListener("click", function (e) {
        // Please sync "Sign Up Page" to the project
      });
    }

    var materialSymbolsarrowBack = document.getElementById(
      "materialSymbolsarrowBack"
    );
    if (materialSymbolsarrowBack) {
      materialSymbolsarrowBack.addEventListener("click", function (e) {
        // Please sync "Landing Page" to the project
      });
    }
  </script>
  <!-- <script src="/js/gsap.js"></script> -->
  <script src="/js/adidas.js"></script>
</body>

</html>